.Btn {
  width: 10rem;
  height: auto;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Btn:disabled {
  background-color: var(--color-primary-light);
  cursor: not-allowed;
}
