.MenuDropdown {
    background-color: var(--color-pure-white);
    width: auto;
    height: auto;
    box-shadow:0 0 10px hsla(
            var(--color-tertiary-h),
            var(--color-tertiary-s),
            var(--color-tertiary-l),
            0.4
    );
    border-radius: 5px;
    z-index: 200;
}

.Backdrop {
    background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    display: block;
}
