.TopBar {
  grid-row: 1/2;
  grid-column: 1/-1;
  box-shadow: 0 0.5rem 0.5rem
    hsla(
      var(--color-tertiary-h),
      var(--color-tertiary-s),
      var(--color-tertiary-l),
      0.3
    );
  position: relative;
}

.TopBarList {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 2rem;
  align-items: center;
  justify-items: center;
  background-color: var(--color-pure-white);
  grid-template-columns:
    [logo-start] 5rem [logo-end space-start] 1fr [space-end notif-start] minmax(
      15rem,
      auto
    )
    [notif-end profile-start] minmax(
      5rem,
      auto
    ) [profile-end setting-start] minmax(4rem, auto)
    [setting-end];
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 3rem 0 3rem;
}

@media (max-width: 470px) {
  .TopBarList {
    grid-template-columns:
      [logo-start] 5rem [logo-end space-start] 1fr [space-end notif-start] minmax(
        6rem,
        auto
      )
      [notif-end profile-start] minmax(
        5rem,
        auto
      ) [profile-end setting-start] minmax(3rem, auto)
      [setting-end];
    padding: 1rem 2rem 0 2rem;
  }
}

.HiddenElement {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}