.ChatBox {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  max-width: 70rem;
  min-width: 15rem;
  margin: 0 1rem;
  height: auto;
  width: auto;
}

@media (max-width: 600px) {
  .ChatBox {
    max-width: 95rem;
  }
}

.ChatBox span:first-of-type {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color-sec);
  align-self: flex-start;
}
.ChatBox span:nth-of-type(2) {
  color: var(--color-black);
  height: auto;
  width: auto;
}
.ChatBox span:nth-of-type(2) img {
  /* height: 36rem; */
  height: auto;
  width: 36rem;
  border-radius: unset;
}

@media (max-width: 600px) {
  .ChatBox span:nth-of-type(2) img {
    height: auto;
    width: 28rem;
    border-radius: unset;
  }
}

.ChatBox span:last-of-type {
  font-size: 1.2rem;
  align-self: flex-end;
  color: var(--color-tertiary3);
}

.ChatUser1 {
  color: var(--color-black);
  font-size: 1.5rem;
  height: auto;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  align-self: flex-end;

  flex-direction: row-reverse;
}
.ChatUser1 img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.ChatUser1 p {
  background-color:var(--color-white);
  hyphens: auto;
}
.ChatUser2 {
  color: var(--color-tertiary1);
  align-self: flex-start;
  flex-direction: row;
  font-size: 1.5rem;
  height: auto;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.ChatUser2 img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.ChatUser2 p {
  background-color:var(--color-primary);
}
