.ChatBox {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  max-width: 70rem;
  margin: 0 1rem;
}
.ChatBox span:first-of-type {
  font-weight: 700;
  font-size: 1.3rem;
  color: #ff6932;
  align-self: flex-start;
}
.ChatBox span:nth-of-type(2) {
  color: #444444;
}
.ChatBox span:last-of-type {
  font-size: 1.2rem;
  align-self: flex-end;
  color: #7f7f7f;
}

.ChatUser1 {
  color: #666666;
  font-size: 1.5rem;
  height: auto;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  align-self: flex-end;

  flex-direction: row-reverse;
}
.ChatUser1 img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.ChatUser1 p {
  background-color: #fff;
  hyphens: auto;
}
.ChatUser2 {
  color: #fff;
  align-self: flex-start;
  flex-direction: row;
  font-size: 1.5rem;
  height: auto;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.ChatUser2 img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.ChatUser2 p {
  background-color: #00ced1;
}
