.LectureAddBtn {
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LectureAddBtn figure {
   max-height: 25rem;
  max-width: 25rem;
  display: flex;
  cursor: pointer;
}

.LectureAddBtn figure img {
  height: 80%;
  width: 80%;
}