.Input {
  width: 100%;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: var(--color-tertiary1);
  padding: 1px 4px;
  font-size: 1.6rem;
  border-radius: 3px;
}
.TextInput input {
  height: 4rem;
}

.TextInput div {
  height: 10rem;
  width: 100%;
  overflow-y: scroll;
  background-color: transparent;
}
.TextInput div::-webkit-scrollbar {
  display: none;
}
.TextInput div textarea {
  height: 99.99%;
  width: 100%;
  resize: none;
}

.TextInput div textarea::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}
.TextInput div textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
  border-radius: 2px;
  width: 0.8rem;
  transition: background-color 0.2s;
}

.Input:focus {
  border-bottom: 3px solid var(--color-primary-dark);
  box-shadow: 0 0 0.5rem 0.5rem
    hsla(
      var(--color-tertiary-h),
      var(--color-tertiary-s),
      var(--color-tertiary-l),
      0.8
    );
}

.Input:focus:invalid,
.Invalid {
  border-bottom: 3px solid var(--color-sec-dark);
  box-shadow: 0 0.5rem 0.5rem rgba(68, 68, 68, 0.5);
}

.TextInput label {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 3px;
  color: var(--color-black-dark);
}
