.Input {
    width: 100%;
    font-family: inherit;
    outline: none;
    border: none;
    /*background-color: #eee;*/
    background-color: var(--color-tertiary1);
    padding: 1px 4px;
    font-size: 1.6rem;
    border-radius: 3px;
}
.TextInput input {
    height: 4rem;
}
.TextInput textarea {
    height: 10rem;
}

.Input:focus {
    border-bottom: 3px solid var(--color-primary-dark);
    box-shadow: 0 0.5rem .5rem rgba(68, 68, 68, 0.5);
}

.Input:focus:invalid,
.Invalid{
    border-bottom: 3px solid var(--color-sec-dark);
    box-shadow: 0 0.5rem .5rem rgba(68, 68, 68, 0.5);
}

.TextInput label {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 3px;
    color: var(--color-black-dark);
}
