.Stream {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 0.75fr 0.35fr;
  height: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 5rem);
}

.Stream::-webkit-scrollbar {
  opacity: 0;
}

@media (max-width: 900px) {
  .Stream {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
  }
}
.StreamContainer {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: max-content max-content;
  margin: 0 auto;
  width: 90%;
  margin-top: 3rem;
}
.StreamContainer::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .StreamContainer {
    overflow-y: unset;
    max-height: unset;
    grid-template-rows: max-content max-content;
  }
}
.StreamContainerHeader {
  display: grid;
  grid-template-columns: 1fr 10rem auto;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--color-tertiary2);
}
.StreamContainerHeader h3 {
  color: var(--color-black);
}
.StreamContainerIcon svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-black);
}
.StreamContainerIcon svg:hover {
  fill: var(--color-tertiary3);
  cursor: pointer;
}
.StreamContainerDesc {
  padding: 2rem 0 0 0;
  border-bottom: 1px solid var(--color-tertiary2);
}
.StreamContainerDescBox {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.7;
}

.StreamContainerDescBox a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.StreamContainerDescBox h1 {
  font-size: 4rem;
  font-family: inherit;
  color: currentColor;
  font-weight: 600;
}


.StreamContainerDescBox h2 {
  font-size: 3rem;
  font-family: inherit;
  color: currentColor;
  padding: 0.3rem 0;
  font-weight: 600;
}
.StreamContainerDescBox h3 {
  font-size: 2rem;
  font-family: inherit;
  color: currentColor;
  padding: 0.1rem 0;
  font-weight: 600;
}

.CommentBox {
  padding: 2rem 0;
  /*background-color: cyan;*/

}
.CommentBox * {
  margin: 0 auto;
  width: 100%;
}

.CommentBoxHeading {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary);
  margin: 0 auto;
  text-transform: capitalize;
}

.CommentBoxUser {
  margin: 0 auto;
  width: 100%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
}


.CommentBoxUser figure {
  height: 5rem;
  width: 5rem;
}

@media (max-width: 600px) {
  .CommentBoxUser figure {
    height: 4rem;
    width: 4rem;
  }
}

.CommentBoxUser figure img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.CommentForm {
  /*margin-top: 5px;*/
  /*background: orangered;*/
  padding-left: 1rem;
}

.CommentForm textarea {
  resize: none;
  outline: none;
  height: 10rem;
  font-family: inherit;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-pure-white);
  color: inherit;
}

.CommentFormSubmit {
  text-align: right;
  width: 100%;
  padding-top: 1rem;
}
.CommentFormSubmit button {
  width: 10rem;
  height: auto;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.CommentFormSubmit button:disabled {
  background-color: var(--color-primary-light);
  cursor: not-allowed;
}
.UsersCommentContainer {
  margin: 0 auto;
  width: 100%;
  padding-top: 4rem;
  /*background-color: orangered;*/
}


.StreamSidebar {
  /*max-height: 94vh;*/
  /*overflow: scroll;*/
}

@media (max-width: 900px) {
  .StreamSidebar {
    margin-bottom: 3rem;
  }
}

.StreamSidebar::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}
.StreamSidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
  width: 0.8rem;
  transition: background-color 0.2s;
}
.StreamSidebarHeader {
  padding: 2rem 2rem 3.5rem 2rem;
  text-align: center;
}
.StreamSidebarHeader h1 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-primary);
  text-transform: uppercase;
}

.StreamSidebarContainerList {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: 2rem;
  padding: 0 2rem;
  list-style: none;
}
.StreamSidebarContainerLink {
  text-decoration: none;
  display: grid;
  grid-template-columns: 18rem 1fr;
}
.StreamSidebarContainerImg {
  width: 18rem;
  height: 10.5rem;
  object-fit: cover;
}
.StreamSidebarContainerImg img {
  width: 100%;
  height: 100%;
}
.StreamSidebarBox {
  padding-left: 1rem;
}
.StreamSidebarBox h4 {
  color: var(--color-black);
  font-size: 1.7rem;
}
.StreamSidebarBox span {
  color: var(--color-tertiary3);
  text-transform: capitalize;
}

.StreamSidebarContainerItem a figure {
  position: relative;
}

.StreamSidebarContainerItem a figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background-color: rgba(0,0,0,0.4);*/
  background-color: hsla(
    var(--color-tertiary-h),
    var(--color-tertiary-s),
    var(--color-tertiary-l),
    0.7
  );
  filter: blur(2px);
}

.StreamSidebarContainerItem a figure::after {
  content: "Playing Now...";
  position: absolute;
  bottom: 10%;
  color: var(--color-pure-white);
  left: 10%;
  transform: translate(-10%, -10%);
  font-size: 2rem;
}

.square-btn {
  background-color: var(--color-primary-light);
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/*.DeleteBtnContainer {*/
/*  width: 20rem;*/
/*  height: 20rem;*/
/*  background-color: orangered;*/
/*  position: relative;*/
/*}*/

.DeleteBtn {
  padding: 1rem 2.5rem;
  /*width: 20rem;*/
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  background-color: var(--color-pure-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
}
