.NotesLectures {
  overflow-y: scroll;
  max-height: calc(100vh - 6rem);
  position: relative;
}

@media (max-width: 600px) {
  .NotesLectures {
    overflow-y: unset;
    max-height: unset;
  }
}

.NotesLectures::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}
.NotesLectures::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
  width: 0.8rem;
  transition: background-color 0.2s;
}
.main-lecture--container__body-subject {
  padding: 0 2rem;
}
.NotesLecturesDiv {
  background-color: var(--color-pure-white);
  margin-top: 2rem;
  display: grid;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 0 2rem;
}

@media (max-width: 470px) {
  .NotesLecturesDiv {
    grid-column-gap: unset;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.Error {
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
