.UsersComment {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: 5.3rem 1fr 3rem;
  padding-bottom: 2rem;
  /*padding-top: 2rem;*/
}
.UsersComment:not(:last-of-type) {
  border-bottom: 1px solid var(--color-tertiary2);
}

.UsersComment svg {
  width: 2rem;
  height: 2rem;
  fill: var(--color-tertiary3);
  cursor: pointer;
}
.UsersCommentImg {
  height: 5rem;
}

.UsersCommentImg img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.UsersCommentDetail {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1.5rem;
  padding: 0;
  margin: 0;
}
.UsersCommentHeading {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(auto, 20rem) 1fr;
}
.UsersCommentHeading h4 {
  max-width: 50rem;
  font-size: 1.5rem;
}
.UsersCommentHeading span {
  color: var(--color-tertiary3);
}
.UsersCommentPara {
  margin-left: -1px;
}