
.ModalContainer {
    padding: 50px;
    position: relative;
    width: 700px;
    max-width: 900px;
    max-height: 600px;
    overflow-y: scroll;
}
.ModalContainer::-webkit-scrollbar {
    width: 0.8rem;
    background-color: transparent;
}
.ModalContainer::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-light);
    border-radius: 2px;
    width: 0.8rem;
    transition: background-color 0.2s;
}

@media (max-width: 900px) and (min-width: 600px) {
    .ModalContainer {
        padding: 30px 30px 70px 30px;
    }
}
@media (max-width: 600px) {
    .ModalContainer {
        padding: 20px 20px 60px 20px;
    }
}

@media (max-height: 600px) {
    .ModalContainer {
        max-height: 500px;
    }
}


.ModalCancelBtn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 5rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-black-dark);
    cursor: pointer;
}

.FormSwitchBtn {
    position: fixed;
    bottom: 2rem;
    right: 6rem;
    font-size: 1.6rem;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-black-dark);
}

