.Skeleton {
    background-color: var(--color-tertiary1);
    border-radius: 4px;
}

.Skeleton.img {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: all 0.3s;
    object-fit: cover;
    outline: none;
    border: none;
}

.Skeleton.text {
    width: 15rem;
    height: 1rem;
    /*text-align: center;*/
    display: inline-block;
}

.Skeleton.span {
    width: 5rem;
    height: .5rem;
}