.Dashboard {
  grid-column: 1 / -1;
  padding-top: 6rem;
  max-height: calc(100vh - 5rem);
  overflow-y: scroll;
}

.Dashboard::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}
.Dashboard::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
  width: 0.8rem;
  transition: background-color 0.2s;
}

.Boxes {
  display: flex;
  gap: 3rem 3rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .Boxes {
    gap: unset;
  }
}

.Box {
  height: 18rem;
  color: var(--color-pure-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: calc((100vw - 20rem) / 4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .Box {
    width: calc((100vw - 20rem) / 2);
  }
}

@media (max-width: 600px) {
  .Box {
    width: calc((100vw - 12rem));
    margin: 1rem 1rem;
  }
}

@media (max-width: 470px) {
  .Box {
    width: calc((100vw - 10rem));
  }
}

.Box:nth-of-type(1) {
  background-color: var(--color-primary);
}

.Box:nth-of-type(2) {
  background-color: var(--color-sec-dark);
}

.Box:nth-of-type(3) {
  background-color: var(--color-black);
}

.Box:nth-of-type(4) {
  background-color: var(--color-tertiary4);
}

.Box header span {
  font-weight: 300;
  font-size: 7rem;
  display: block;
  text-align: center;
}

.Box header h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

.Chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem 3rem;
  margin: 6rem 0;
  width: 100%;
}

@media (max-width: 600px) {
  .Chart {
    gap: unset;
  }
}

.BarChart {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  height: 30rem;
  background-color: var(--color-pure-white);
  width: calc((100vw - 50rem) / 2);
}

@media (max-width: 1200px) {
  .BarChart {
    width: calc(100vw - 12rem);
  }
}

@media (max-width: 600px) {
  .BarChart {
    margin: 1rem;
  }
}

.BarChart p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  transform: translateX(-3rem);
  margin-left: 5rem;
}

.DonutChart {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  background-color: var(--color-pure-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc((100vw + 20rem) / 2);
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .DonutChart {
    width: calc(100vw - 12rem);
  }
}
@media (max-width: 600px) {
  .DonutChart {
    margin: 1rem;
    padding: 1rem 1rem;
  }
}

.DonutChartSingle {
  border: 1px solid var(--color-tertiary1);
  border-radius: 3px;
}

.DonutChartSingle p {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
  padding-right: 1.5rem;
}

.WelcomeContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Welcome {
  font-size: 4rem;
  font-weight: 600;
  line-height: 2.3;
  color: var(--color-tertiary3);
  animation: ctaAnimation 1s ease-in-out 0.3s backwards;
}

.WelcomeName {
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--color-primary);
  animation: ctaAnimation 1s ease-in-out 0.4s backwards;
}

.Error {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

@keyframes ctaAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.HiddenElement {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}