.Avatar {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.Avatar a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.Avatar a img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
