.VideoLectures {
  overflow-y: scroll;
  max-height: calc(100vh - 8rem);
  margin-bottom: 10px;
  position: relative;
}

@media (max-width: 600px) {
  .VideoLectures {
    overflow-y: unset;
    max-height: unset;
  }
}

.VideoLectures::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}
.VideoLectures::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
  width: 0.8rem;
  transition: background-color 0.2s;
}
.main-lecture--container__body-subject {
  padding: 0 2rem;
}
.VideoLecturesDiv {
  background-color: var(--color-pure-white);
  margin-top: 2rem;
  display: grid;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  /* grid-template-rows: minmax(25rem, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 0 2rem;
  /*background-color: orangered;*/
}

@media (max-width: 470px) {
  .VideoLecturesDiv {
    grid-column-gap: unset;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

/*----------------------------------*/
