.Classmate {
  max-height: calc(100vh - 6rem);
  overflow-y: scroll;
  padding-top: 2rem;
  background-color: var(--color-pure-white);
  grid-column: 1/ -1;
  width: 100%;
}

.Classmate::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}
.Classmate::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 2px;
  width: 0.8rem;
  transition: background-color 0.2s;
}

.ClassmateContainer {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 2rem;
}

.ClassmateContainer article {
  max-width: 50rem;
  text-align: center;
  width: 30rem;
  margin: 2rem 2rem;
}

.Error {
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.HiddenElement {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}